<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
    <h2>자재 입고 등록</h2>
    <form action="/page/create" method="post">
        <p>자재ID : <input type="text" name="materialId"></p>
        <p>공정 : <input type="text" name="process"></p>
        <p>창고 : <input type="text" name="storage"></p>
        <p>자재명 : <input type="text" name="materialName"></p>
        <p>입고수량 : <input type="text" name="amount"></p>
        <p>재질 : <input type="text" name="ingredient"></p>
        <p>중량 : <input type="text" name="weight"></p>
        <p>입고일자 : <input type="text" name="incomming_date"></p>
        <p>비고 : <input type="text" name="description"></p>

        <button type="submit">등록하기</button>
    </form>

</body>
</html>