<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세 정보</title>
</head>
<body>
<h2>재고 정보</h2>
<div>
    <h3 th:text="${post.materialId}">제목 없음</h3>
    <p th:text="${post.process}">내용 없음</p>
    <p th:text="${post.storage}">내용 없음</p>
    <p th:text="${post.materialName}">내용 없음</p>
    <p th:text="${post.amount}">내용 없음</p>
    <p th:text="${post.ingredient}">내용 없음</p>
    <p th:text="${post.weight}">내용 없음</p>
    <p th:text="${post.incomming_date}">내용 없음</p>
    <p th:text="${post.description}">내용 없음</p>


</div>
</body>
</html>
