<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성/조회</title>
</head>
<body>
<div>
    <h2>생산 관리 시스템 MES</h2>
    <a href="/page/create">자재 입고 등록</a>
    <div>
        <table style="border: 1px solid black">
            <tr>
                <th>자재ID</th>
                <th>공정</th>
                <th>창고</th>
                <th>자재명</th>
                <th>입고수량</th>
                <th>재질</th>
                <th>중량</th>
                <th>입고일자</th>
                <th>비고</th>
                <th>수정</th>
                <th>삭제</th>

            </tr>
            <tr th:each="post, index : ${posts}">
<!--                <td th:onclick="goPage([[${post.id}]])">-->
<!--                    <div th:text="${index.index + 1}"></div>-->
<!--                </td>-->
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.materialId}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.process}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.storage}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.materialName}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.amount}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.ingredient}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.weight}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.incomming_date}"></div>
                </td>
                <td th:onclick="goPage([[${post.id}]])">
                    <div th:text="${post.description}"></div>
                </td>
                <td><button type="button" th:onclick="editPost([[${post.id}]])">수정</button></td>
                <td><button type="button" th:onclick="deletePost([[${post.id}]])">삭제</button></td>
            </tr>
        </table>
    </div>
</div>
<script th:inline="javascript">
    const goPage = (id) =>{
        location.href= "/jaehee/detail/"+id;
    }

    const deletePost = (postId) => {
        if (confirm('삭제하시겠습니까?')) {
            fetch('/jaehee/delete/' + postId, {
                method: 'DELETE'
            }).then(() => {
                location.reload();
            });
        }
    };

    const editPost = (postId) => {
        if (confirm('수정하시겠습니까?')) {

            location.href = '/jaehee/edit/' + postId;
        }
    };
</script>
</body>
</html>